@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.destination {
    .secContainer {
        .redText {
            color: hsl(14, 90%, 53%);
            font-size: 0.813rem;
            font-weight: 500;
        }

        h3 {
            font-size: 2rem;
        }

        .searchField {
            margin-top: 2rem;
            gap: 1rem;

            .inputField {
                background: hsl(14, 96%, 91%);
                padding: 1rem;
                border-radius: 3rem;
                gap: .5rem;

                input {
                    background: transparent;
                    border: none;
                    outline: none;
                    width: 100%;
                }

                .icon {
                    color: hsl(0, 0%, 18%);
                }
            }

            .btn {
                gap: .5rem;
                margin: auto;
                width: 100%;
                align-items: center;
                justify-content: center;
            }
        }

        .secMenu {
            display: none;
        }

        .destinationContainer {
            margin-top: 2rem;

            .singleDestination {
                position: relative;
                overflow: hidden;
                border-radius: 1rem;
                height: 260px;


                .imgDiv {
                    position: relative;
                    height: 100%;
                    width: 100%;

                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        transition: all .3s ease-in-out;

                    }
                }

                &:hover {
                    .imgDiv {
                        img {
                            scale: 1.1;
                        }
                    }
                }

                .descInfo{
                    position: absolute;
                    z-index: 2;
                    bottom: 0;
                    width: 100%;
                    padding: 1rem 2rem 1rem;
                    justify-content: space-between;

                    &::after{
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        background: linear-gradient(
                            to bottom,
                            rgba(0, 0, 0, 0),
                            rgba(0, 0, 0, 0.76)
                        );
                        z-index: -1;
                     }
                
                    .text{
                        gap: .5rem;
                        color: hsl(0, 0%, 100%);

                        .name{
                            display: block;
                            font-weight: 500;
                            padding-bottom: .3rem;
                            font-weight: 1.25rem;

                        }

                        .flex, .icon{
                            font-size: 0.938rem;
                        }
                    }
                    .rating{
                        padding: 8px 1rem;
                        border-radius: 3rem;
                        background: rgba(245, 245, 245, 0.37);
                        border: 1.5px solid rgba(255, 255, 255, 0.241);
                        font-size: 1rem;
                        font-weight: 600;
                        color: hsl(0, 0%, 100%);
                    }
                
                }
            }
        }
    }
}