.accordion{
    --bs-accordion-bg: none!important
    

}

.accordion-button {
    --bs-accordion-btn-color: none!important;

}
.accordion-button:not(.collapsed)::after {
    background-image: --bs-accordion-btn-active-icon!important;
    /* --bs-accordion-btn-active-icon: none !important; */
}
.accordion-button:not(.collapsed) {
    --bs-accordion-active-color: none!important;
    --bs-accordion-active-bg: none!important; 
    --bs-accordion-border-width:none!important;
    --bs-accordion-border-color:none!important;
}


.accordionContainer{

    #title{
        font-size: 0.938rem;
        align-items: center;
        padding: 1rem;
        border-radius: 10px;
        justify-content: space-between;
        background: hsl(14, 94%, 91%);
      
    }

}


/* MEDIA QUERIES */

@media screen and (min-width: 640px) {
    .accordionContainer{
        .title{
            font-size: 1rem;

            span{
                .icon{
                    font-size: 1.5rem;
                }
            }
        }
        .description{
            font-size: 0.938rem;
        }

        .show{
            height: 150px;
        }
    }
    .questions{
        .secHeading{
            h3,
            h4{
                font-size: 1.25rem;
            }
    
            p{
                font-size: 0.938rem;
            }
        }

        .secContainer{
            grid-template-columns: repeat(2,1fer);
            align-items: flex-start;
            gap: 2rem;

            .form{
                .formContent{
                    input,textarea{
                        font: 0.938rem;
                        &::placeholder{
                            font-size: 0.938rem;
                            color: hsl(0, 0%, 18%);
                        }
                    }

                    textarea{
                        height: 100px;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .accordionContainer{
        .title{
            font-size: 1rem;

            h3{
                .icon{
                    font-size: 1.5rem;
                }
            }
        }

        .description{
            font-size: 0.938rem;
        }

        .show{
            height: 150px;
        }
    }

    .questions{
        .secHeading{
            h3,h4{
                font-size: 1.5rem;
            }

            p{
                font-size: 1rem;
            }
        }

        .secContainer{
            gap: 3rem;
        }
    }
}