.section{
    padding: 4rem 0 2rem;
}

.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.review {
    .secContainer {
        .textDiv {
            .redText {
                font-size: 0.813rem;
                display: block;
                color: hsl(14, 90%, 53%);
                font-weight: 700;
            }

            h3 {
                font-size: 2.5rem;
                color: hsl(0, 0%, 18%);
                padding: 1rem 0;
            }

            p {
                color: hsl(0, 0%, 18%);
            }

            .stars {
                gap: 0.4rem;
                padding: 1rem 0;

                .icon {
                    color: hsl(14, 90%, 53%);
                    font-size: 1rem;

                }
            }

            .clientsImages {
                gap: 1rem;

                img {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                    border: 2px solid rgb(255, 255, 255);
                    box-shadow: 0 0 2px 2px rgb(251, 212, 194);
                }
            }
        }

        .imgDiv {
            height: 60%;
            width: 100%;
            
    
            #imgClient {
              height: 100%;
              width: 100%;
              border-radius: 10px;
            }
        }
     }
}

/* MEDIA QUERIES */

@media screen and (min-width: 480px) {
    .review{
        .secContainer{
            .textDiv{
                .redText{
                    font-size: 0.938rem;
                }

                h3{
                    font-size: 20px;
                    color: hsl(0, 0%, 18%);
                }

                p{
                    color: hsl(0, 0%, 18%);
                    font-size: 0.938rem;

                }

                .stars{
                    .icon{
                        font-size: 1.25rem;
                    }
                }

                .clientsImages{
                    img{
                        height: 50px;
                        width: 50px;
                    }
                }
            }

            .imgDiv{
                height: 250px;
                width: 100%;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 740px) {
    .review{
        .secContainer{
            grid-template-columns: repeat(2,1fr);
        
            .textDiv{
                .redText{
                    font-size: 0.938rem;
                }

                h3{
                    font-size: 0.938rem;
                    color: 0.938rem;
                }

                p{
                    color: hsl(0, 0%, 18%);
                    font-size: 0.938rem;
                }

                .stars{
                    .icon{
                        font-size: 1.25rem;
                    }
                }

                .clientsImages{
                    img{
                        height: 50px;
                        width: 50px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1240px) {
    .review{
        .secContainer{
            gap: 3rem;

            .textDiv{
                .redText{
                    font-size: 1rem;
                }

                h3{
                    font-size: 1rem;
                    color: hsl(0, 0%, 18%);
                }

                p{
                    color: hsl(0, 0%, 18%);
                    font-size: 1rem;
                    line-height: 2rem;
                }
            }
        
            .imgDiv{
                height: 300px;
            }
        }
    }
}